* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: chocolate;
    height: 90px;
}

a {
    display: none;
    text-decoration: none;
}

.heading {
    display: inline;
    padding: 10px;
    position: relative;
}

.material {}

a:hover {
    color: rgba(39, 34, 34, 0.582);
    left: 0px;
}

.heading:hover .material {
    display: block;
}